body {
    background-image: url(../images/jamie_bw.jpg);
    background-size: 70vh;
    background-repeat: no-repeat;
    margin: auto;
    background-color: white;
    overflow: hidden;
    background-color: black;
}


.words {
    color: white;
    position: absolute;
    right: 3%;
    bottom: 0;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
}

a {
    color: white;
    text-decoration: none;
}


h1 {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 10vw;
    line-height: 90%;
    letter-spacing: 2px;
    text-transform: uppercase;
}


@media only screen and (min-width: 25em) {
       
    body {
        
    }
    
    
}





@media only screen and (min-width: 38em) {

 
    
}





@media only screen and (min-width: 60em) {
    
    
    
}